@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: red; /* Light mode version */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #051139;
    --foreground: #ededed;
    --light: oklch(
      0.85 0.08 178
    ); /* Dark mode version - adjusted for dark bg */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
