@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: rgb(111, 104, 104) (178, 172, 172); /* Light mode version */
  --background-light: #ffffffea;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-background-light: var(--background-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #051139;
    --foreground: #ededed;
    --light: rgb(178, 172, 172); /* Dark mode version - adjusted for dark bg */
    --background-light: #111c44;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Scrollbar Styling (Works for Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 10px;
  border: 2px solid var(--background-light);
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--light) var(--background-light);
}
